<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Registration Page</title>

    <!-- Bootstrap core CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../public/main.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
   

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" >
	
		
function checkPass() {
	var value = document.getElementById("password").value;
	var hint = document.getElementById("passwords");
	if(value.length < 8) {
		
		
		
		if(value.length==0)
			{
					hint.innerHTML = "#Enter a password#";
			}
		else{
			hint.innerHTML = "#the password is too short(at least 8 characters)#";
}
		return false;
	} else {
			hint.innerHTML = " ";
		return true;
	}
}

	function checkfirstname() {
	var value = document.getElementById("fname").value;
	var hint = document.getElementById("fnames");
		
		if(value.length==0)
			{
				hint.innerHTML = "#Enter a first name#";
				
				return false;
			}
		
	 else {
			hint.innerHTML = " ";
		return true;
	}
}	
		
		function checksecondname() {
	var value = document.getElementById("sname").value;
	var hint = document.getElementById("snames");
		
		if(value.length==0)
			{
				hint.innerHTML = "#Enter a second name#";
				return false;
			}
		
	 else {
			hint.innerHTML = " ";
		return true;
	}
}	
		
		function checkaddr() {
	var value = document.getElementById("adress1").value;
	var hint = document.getElementById("adress1s");
		
		if(value.length==0)
			{
				hint.innerHTML = "#Enter a Address#";
				return false;
			}
		
	 else {
			hint.innerHTML = " ";
		return true;
	}
}	
		
		
		
			
		function checkcity() {
	var value = document.getElementById("city").value;
	var hint = document.getElementById("citys");
		
		if(value.length==0)
			{
				hint.innerHTML = "#Enter a city name#";
				return false;
			}
		
	 else {
			hint.innerHTML = " ";
		return true;
	}
}	
		
		
		
		
			
		function checkstate() {
	var value = document.getElementById("state").value;
	var hint = document.getElementById("states");
		
		if(value.length==0)
			{
				hint.innerHTML = "#Enter a state, province or region name#";
				return false;
			}
		
	 else {
			hint.innerHTML = " ";
		return true;
	}
}	
		
function checkPassPass() {
	var papavalue = document.getElementById("compassword").value;
	var value = document.getElementById("password").value;
	var papahint = document.getElementById("compasswords");
	if(papavalue != value) {

		if(papavalue.length==0)
			{
						papahint.innerHTML = "#Enter a password to match#";
			}
		else{
				papahint.innerHTML = "#The passwords you entered do not match#";	
			
		}
		return false;
	} else {
papahint.innerHTML = " ";
		return true;
	}
}	
function checkEmail(strEmail) 
{      
    var emailReg = /+^([a-zA-Z0-9_-])+^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;;
    if ( emailReg.test(strEmail) ) {
        return true;
    }
    else {
        return false;
    }
};
function emailCheck() {
	var emailValue = document.getElementById("email").value;
	var email_hint = document.getElementById("emails");

	var flag = checkEmail(emailValue);
	if(flag) {
		email_hint.innerHTML = " ";
		return true;
	} else {
		email_hint.innerHTML = "#Enter a valid email address#";
			if(emailValue.length==0)
		{
			email_hint.innerHTML = "#Enter a email adrress#";
}
		return false;
	}
}
function checkMobile( strMobile )
{	//13588888888
    var regu = /^[0-9][0-9][0-9]{9}$/;
    var re = new RegExp(regu);
    if (re.test(strMobile)) {
        return true;
    }
    else {
		if(strMobile.length==0)
			{
				
				return ture;
			}
		else{
			
			 return false;
		}
       
    }
};
function phoneCheck() {
	var phone = document.getElementById("phone").value;
	var phone_hint = document.getElementById("phone_hint");
	var flag = checkMobile(phone);
	if(flag) {
		phone_hint.innerHTML = " ";
		return true;
	} else {
		
		phone_hint.innerHTML = "#Enter a valid phone number#";
		if(phone.length==0)
			{
				phone_hint.innerHTML = "#Enter a phone number#";
				
			}
		return false;
	}
}
			
		function checkcountry() {
	var value = document.getElementById("country").value;
			var hint = document.getElementById("countrys");

		if(value.length>2)
			{
				hint.innerHTML = "#Choose a country from the list#";
				return false;
			}
		
	 else {
			hint.innerHTML = " ";
		return true;
	}
}	
function checkForm() {

	var flag = checkcountry()&&checkfirstname() && checksecondname() && emailCheck() && checkPass() && checkPassPass() && checkaddr() && checkcity() && checkstate() && phoneCheck();
	return flag;
		}
		
	  </script>
  </head>
<body>
	<div style="margin-left: 37%; color:rgba(28,113,114,1.00)">
		<h1>
			Requester Registration 
		</h1>
		
	</div>
	<div style="margin-left: 37%;margin-top: 2%; margin-bottom: 2%; color:rgba(28,113,114,1.00)">
		<h5>
			Create an iCrowdTsak Account 
		</h5>
		
	</div>
<form method="POST"  enctype="value" action="indexpage" onsubmit="return checkForm()" >
 
 
  <div class="form-group" style="width: 30%;margin-left: 37%;" >
    <label for="exampleInputEmail1">Country of residence*
    <span id="countrys" style="color: red;">
    	
    </span>
    </label>
    <select class="form-control" name="country" id="country">
    <option label="Choose a country from the list" value="Choose" selected="selected">Choose a country from the list</option>
<option label="Afghanistan" value="AF">Afghanistan</option>
<option label="Anguilla" value="AI">Anguilla</option>
<option label="Armenia" value="AM">Armenia</option>
<option label="Aruba" value="AW">Aruba</option>
<option label="Australia" value="AU">Australia</option>
<option label="Austria" value="AT">Austria</option>
<option label="Azerbaijan" value="AZ">Azerbaijan</option>
<option label="Bahamas" value="BS">Bahamas</option>
<option label="Bahrain" value="BH">Bahrain</option>
<option label="Bangladesh" value="BD">Bangladesh</option>
<option label="Barbados" value="BB">Barbados</option>
<option label="Belarus" value="BY">Belarus</option>
<option label="Belgium" value="BE">Belgium</option>
<option label="Belize" value="BZ">Belize</option>
<option label="Benin" value="BJ">Benin</option>
<option label="Bermuda" value="BM">Bermuda</option>
<option label="Bhutan" value="BT">Bhutan</option>
<option label="Bolivia" value="BO">Bolivia</option>
<option label="Bouvet Islands" value="BV">Bouvet Islands</option>
<option label="Brazil" value="BR">Brazil</option>
<option label="British Indian Ocean Territory" value="IO">British Indian Ocean Territory</option>
<option label="British Virgin Islands" value="VI">British Virgin Islands</option>
<option label="Brunei" value="BN">Brunei</option>
<option label="Bulgaria" value="BG">Bulgaria</option>
<option label="Burkina Faso" value="BF">Burkina Faso</option>
<option label="Burundi" value="BI">Burundi</option>
<option label="Cambodia" value="KH">Cambodia</option>
<option label="Cameroon" value="CM">Cameroon</option>
<option label="Canada" value="CA">Canada</option>
<option label="Cape Verde" value="CV">Cape Verde</option>
<option label="Cayman Islands" value="KY">Cayman Islands</option>
<option label="Central African Republic" value="CF">Central African Republic</option>
<option label="Chad" value="TD">Chad</option>
<option label="Chile" value="CL">Chile</option>
<option label="China" value="CN">China</option>
<option label="Colombia" value="CO">Colombia</option>
<option label="Comoros" value="KM">Comoros</option>
<option label="Congo" value="CG">Congo</option>
<option label="Costa Rica" value="CR">Costa Rica</option>
<option label="Cote D'Ivorie" value="CI">Cote D'Ivorie</option>
<option label="Croatia" value="HR">Croatia</option>
<option label="Cyprus" value="CY">Cyprus</option>
<option label="Czech Republic" value="CZ">Czech Republic</option>
<option label="Denmark" value="DK">Denmark</option>
<option label="Djibouti" value="DJ">Djibouti</option>
<option label="Dominica" value="DM">Dominica</option>
<option label="Dominican Republic" value="DO">Dominican Republic</option>
<option label="Egypt" value="EG">Egypt</option>
<option label="El Salvador" value="SV">El Salvador</option>
<option label="Equador" value="EC">Equador</option>
<option label="Equatorial Guinea" value="GQ">Equatorial Guinea</option>
<option label="Eritrea" value="ER">Eritrea</option>
<option label="Estonia" value="EE">Estonia</option>
<option label="Ethiopia" value="ET">Ethiopia</option>
<option label="Falkland Islands" value="FK">Falkland Islands</option>
<option label="Faroe Islands" value="FO">Faroe Islands</option>
<option label="Federated States of Micronesia" value="FM">Federated States of mironesia</option>
<option label="Fiji" value="FJ">Fiji</option>
<option label="Finland" value="FI">Finland</option>
<option label="France" value="FR">France</option>
<option label="French Guiana" value="GF">French Guiana</option>
<option label="French Polynesia" value="PF">French Polynesia</option>
<option label="Gabon" value="GA">Gabon</option>
<option label="Gambia" value="GM">Gambia</option>
<option label="Georgia" value="GE">Georgia</option>
<option label="Germany" value="DE">Germany</option>
<option label="Ghana" value="GH">Ghana</option>
<option label="Gibraltar" value="GI">Gibraltar</option>
<option label="Greece" value="GR">Greece</option>
<option label="Greenland" value="GL">Greenland</option>
<option label="Grenada" value="GD">Grenada</option>
<option label="Guadeloupe" value="GP">Guadeloupe</option>
<option label="Guam" value="GU">Guam</option>
<option label="Guatemala" value="GT">Guatemala</option>
<option label="Guinea" value="GN">Guinea</option>
<option label="Guinea-Bissau" value="GW">Guinea-Bissau</option>
<option label="Guyana" value="GY">Guyana</option>
<option label="Haiti" value="HT">Haiti</option>
<option label="Honduras" value="HN">Honduras</option>
<option label="Hong Kong" value="HK">Hong Kong</option>
<option label="Hungary" value="HU">Hungary</option>
<option label="Iceland" value="IS">Iceland</option>
<option label="India" value="IN">India</option>
<option label="Indonesia" value="ID">Indonesia</option>
<option label="Ireland, Republic of" value="IE">Republic of Ireland</option>
<option label="Israel" value="IL">Israel</option>
<option label="Italy" value="IT">Italy</option>
<option label="Jamaica" value="JM">Jamaica</option>
<option label="Japan" value="JP">Japan</option>
<option label="Jordan" value="JO">Jordan</option>
<option label="Kazakhstan" value="KZ">Kazakhstan</option>
<option label="Kenya" value="KE">Kenya</option>
<option label="Kiribati" value="KI">Kiribati</option>
<option label="Kuwait" value="KW">Kuwait</option>
<option label="Kyrgyzstan" value="KG">Kyrgyzstan</option>
<option label="Laos" value="LA">Laos</option>
<option label="Latvia" value="LV">Latvia</option>
<option label="Lebanon" value="LB">Lebanon</option>
<option label="Lesotho" value="LS">Lesotho</option>
<option label="Liberia" value="LR">Liberia</option>
<option label="Liechtenstein" value="LI">Liechtenstein</option>
<option label="Lithuania" value="LT">Lithuania</option>
<option label="Luxembourg" value="LU">Luxembourg</option>
<option label="Macau" value="MO">Macau</option>
<option label="Madagascar" value="MG">Madagascar</option>
<option label="Malawi" value="MW">Malawi</option>
<option label="Malaysia" value="MY">Malaysia</option>
<option label="Maldives" value="MV">Maldives</option>
<option label="Mali" value="ML">Mali</option>
<option label="Malta" value="MT">Malta</option>
<option label="Marshall Islands" value="MH">Marshall Islands</option>
<option label="Martinique" value="MQ">Martinique</option>
<option label="Mauritania" value="MR">Mauritania</option>
<option label="Mayotte" value="YT">Mayotte</option>
<option label="Metropolitan France" value="FX">Metropolitan France</option>
<option label="Mexico" value="MX">Mexico</option>
<option label="Moldova" value="MD">Moldova</option>
<option label="Mongolia" value="MN">Mongolia</option>
<option label="Morocco" value="MA">Morocco</option>
<option label="Mozambique" value="MZ">Mozambique</option>
<option label="Namibia" value="NA">Namibia</option>
<option label="Nauru" value="NR">Nauru</option>
<option label="Nepal" value="NP">Nepal</option>
<option label="Neterlands Antilles" value="AN">Neterlands Antilles</option>
<option label="Netherlands" value="NL">Netherlands</option>
<option label="New Caledonia" value="NC">New Caledonia</option>
<option label="New Zealand" value="NZ">New Zealand</option>
<option label="Nicaragua" value="NI">Nicaragua</option>
<option label="Niger" value="NE">Niger</option>
<option label="Nigeria" value="NG">Nigeria</option>
<option label="Northern Mariana Islands" value="MP">Northern Mariana Islands</option>
<option label="Norway" value="NO">Norway</option>
<option label="Oman" value="OM">Oman</option>
<option label="Pakistan" value="PK">Pakistan</option>
<option label="Palau" value="PW">Palau</option>
<option label="Panama" value="PA">Panama</option>
<option label="Papua New Guinea" value="PG">Papua New Guinea</option>
<option label="Paraguay" value="PY">Paraguay</option>
<option label="Peru" value="PE">Peru</option>
<option label="Philippines" value="PH">Philippines</option>
<option label="Pitcairn" value="PN">Pitcairn</option>
<option label="Poland" value="PL">Poland</option>
<option label="Portugal" value="PT">Portugal</option>
<option label="Puerto Rico" value="PR">Puerto Rico</option>
<option label="Qatar" value="QA">Qatar</option>
<option label="Republic of Korea" value="KR">Republic of Korea</option>
<option label="Republic of Macedonia" value="MK">Republic of Macedonia</option>
<option label="Reunion" value="RE">Reunion</option>
<option label="Romania" value="RO">Romania</option>
<option label="Russia" value="RU">Russia</option>
<option label="Sao Tome and Principe" value="ST">Sao Tome and Principe</option>
<option label="Saudi Arabia" value="SA">Saudi Arabia</option>
<option label="Senegal" value="SN">Senegal</option>
<option label="Seychelles" value="SC">Seychelles</option>
<option label="Singapore" value="SG">Singapore</option>
<option label="Slovakia" value="SK">Slovakia</option>
<option label="Slovenia" value="SI">Slovenia</option>
<option label="Solomon Islands" value="SB">Solomon Islands</option>
<option label="Somalia" value="SO">Somalia</option>
<option label="South Africa" value="ZA">South Africa</option>
<option label="Spain" value="ES">Spain</option>
<option label="Sri Lanka" value="LK">Sri Lanka</option>
<option label="St. Helena" value="SH">St. Helena</option>
<option label="St. Kitts and Nevis" value="KN">St. Kitts and Nevis</option>
<option label="St. Lucia" value="LC">St. Lucia</option>
<option label="St. Vincent and the Grenadines" value="VC">St. Vincent and the Grenadines</option>
<option label="Sudan" value="SD">Sudan</option>
<option label="Suriname" value="SR">Suriname</option>
<option label="Svalbard and Jan Mayen Islands" value="SJ">Svalbard and Jan Mayen Islands</option>
<option label="Swaziland" value="SZ">Swaziland</option>
<option label="Sweden" value="SE">Sweden</option>
<option label="Switzerland" value="CH">Switzerland</option>
<option label="Syria" value="SY">Syria</option>
<option label="Taiwan" value="TW">Taiwan</option>
<option label="Tajikistan" value="TJ">Tajikistan</option>
<option label="Tanzania" value="TZ">Tanzania</option>
<option label="Thailand" value="TH">Thailand</option>
<option label="Togo" value="TG">Togo</option>
<option label="Tonga" value="TO">Tonga</option>
<option label="Trinidad and Tobago" value="TT">Trinidad and Tobago</option>
<option label="Turkey" value="TR">Turkey</option>
<option label="Turkmenistan" value="TM">Turkmenistan</option>
<option label="Turks and Caicos Islands" value="TC">Turks and Caicos Islands</option>
<option label="Tuvalu" value="TV">Tuvalu</option>
<option label="Uganda" value="UG">Uganda</option>
<option label="Ukraine" value="UA">Ukraine</option>
<option label="United Arab Emirates" value="AE">United Arab Emirates</option>
<option label="United Kingdom" value="GB" >United Kingdom</option>
<option label="United States USA" value="US">United States USA</option>
<option label="Uruguay" value="UY">Uruguay</option>
<option label="Uzbekistan" value="UZ">Uzbekistan</option>
<option label="Vanuatu" value="VU">Vanuatu</option>
<option label="Vatican City" value="VA">Vatican City</option>
<option label="Venezuela" value="VE">Venezuela</option>
<option label="Vietnam" value="VN">Vietnam</option>
<option label="Western Sahara" value="EH">Western Sahara</option>
<option label="Yemen" value="YE">Yemen</option>
<option label="Yugoslavia" value="YU">Yugoslavia</option>
<option label="Zaire" value="ZR">Zaire</option>
<option label="Zambia" value="ZM">Zambia</option>
<option label="Zimbabwe" value="ZW">Zimbabwe</option>
</select>

  </div>

  <div class="form-group" style="width: 210px; display: inline-block;margin-left: 37%;">
   First name*
      <span id="fnames" style="color: red;"></span>              <label class="sr-only" for="exampleInputEmail3"></label>
    <input type="name" class="form-control" placeholder="First name" name="fname" id="fname" onKeyUp="checkfirstname()">
  </div>
  
  
  <div class="form-group" style="width:210px ;display: inline-block;margin-left: 2%;">
 Last name* 
    <span id="snames" style="color: red;"></span> 
   <label class="sr-only" for="exampleInputPassword3"></label>
    <input type="name" class="form-control"  placeholder="Last name" name="sname" id="sname">
  </div>
 
 <div class="form-group" style="width: 30%;margin-left: 37%;">
    <label for="exampleInputEmail1">Email*<span id="emails" style="color: red;"></span></label>
    <input type="emailbox" class="form-control"  placeholder="Email" name="email" id="email" onkeyup="emailCheck()">
  </div>
  
  <div class="form-group" style="width: 30%;margin-left: 37%;">
    <label for="exampleInputPassword1" >Password*
     <span id="passwords" style="color: red;"></span>
    </label>
    <input type="password" class="form-control"  placeholder="Password" name="password"  id="password" onKeyUp="checkPass()">
  </div>
  
  
 <div class="form-group" style="width: 30%;margin-left: 37%;">
    <label for="exampleInputEmail1" >Comfirm Password*
     <span id="compasswords"style="color: red;"></span>
    </label>
    <input type="password"  class="form-control"  placeholder="Password" name="compassword" id="compassword" onKeyUp="checkPassPass()">
  </div>
  
  
   <div class="form-group"style="width: 30%; margin-left: 37%;">
 <label for="exampleInputEmail1" >  Address *
   <span id="adress1s"style="color: red;"></span> 
   </label>
    <input type="adress" class="form-control" placeholder="Address" name="adress1" onKeyUp="checkaddr()" id="adress1">
  </div>
   <div class="form-group" style="width: 30%;margin-left: 37%;">
    <label for="exampleInputEmail1"> <span id="adress2s"></span> </label>
    <input type="adress" class="form-control" placeholder="Address" name="adress2">
  </div>
  
  
  
    <div class="form-group" style="width: 210px; display: inline-block;margin-left: 37%;">
  City* <span id="citys" style="color: red;"></span>  <label class="sr-only" for="exampleInputEmail3"></label>
    <input type="adress" class="form-control" placeholder="City" name=city id="city">
  </div>
  
  
  <div class="form-group"  style="width:210px ;display: inline-block;margin-left: 2%;">
State, Province or Region* <span id="states" style="color: red;"></span>  <label class="sr-only" for="exampleInputPassword3"> </label>
    <input type="adress" class="form-control"  placeholder="State"name="state" id="state">
  </div>
  
   <div class="form-group" style="width: 30%;margin-left: 37%;">
    <label for="exampleInputEmail1" >ZIP/Postal Code</label>
    <input type="Postal Code" class="form-control" placeholder="Postal Code"name="post"id="post">
  </div>
  
  
   <div class="form-group" style="width: 30%;margin-left: 37%;">
    <label for="exampleInputEmail1">Mobile phone nmuber
     <span id="phone_hint" style="color: red;"></span>
    </label>
    <input type="nmube" class="form-control" placeholder="Phone Nmube"name="mobile"id="phone" onkeyup="phoneCheck()">
  </div>
  
  
                    <input type="submit" value="create account"  style="width: 150px;margin-left: 47%; background-color:rgba(142,182,171,1.00)" />
</form>
<p>&nbsp;	
	</p>
<div style="margin-left: 100px；">
	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  you will be
automatically re-directed to the login page after you finish the registration
	</p>
</div>



</body>


</html>