<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
</head>

<body><!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Registration Page</title>

    <!-- Bootstrap core CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../public/main.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
   

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" >
	

		
	  </script>
  </head>
<body>
	<div style="margin-left: 37%; color:rgba(28,113,114,1.00)">
		<h1>
			iCould Task Login
		</h1>
		
	</div>
	<div style="margin-left: 37%;margin-top: 2%; margin-bottom: 2%; color:rgba(28,113,114,1.00)">
		<h5>
			
		</h5>
		
	</div>
<form method="POST"  enctype="value" action="login"  >
 
 <div class="form-group" style="width: 30%;margin-left: 37%;">
    <label for="exampleInputEmail1">Email*<span id="emails" style="color: red;"></span></label>
    <input type="emailbox" class="form-control"  placeholder="Email" name="email" id="email" >
  </div>
  
  <div class="form-group" style="width: 30%;margin-left: 37%;">
    <label for="exampleInputPassword1" >Password*
     <span id="passwords" style="color: red;">the password is worng</span>
    </label>
    <input type="password" class="form-control"  placeholder="Password" name="password"  id="password" >
  </div>
 <input type="submit" value="log in"  style="width: 150px;margin-left: 47%; background-color:rgba(142,182,171,1.00)" />
</form>

</body>
</html>
</body>
</html>
